<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    {% block head %}
    <title>{% block title %}{% endblock %} | cotufa</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    {% endblock %}
</head>

<body>
    
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor -%}
        
        {% block content %}{% endblock -%}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='cotufa.js') }}"></script>

</body>

</html>
