{% macro render_pagination() %}
<div class="pagination">
 <div class="totals">
    <span class="pagecount">{{ movies|count }}</span> <span class="totalcount">{{ pagination.total }}</span>
 </div>
 <div class="pager">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for('movies_list', page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class="ellipsis">…</span>
    {% endif %}
  {%- endfor %}
 </div>
</div>
{% endmacro %}


{% extends 'base.html' %}

{% block title %}start{% endblock %}

{% block content %}

<form action="{{ url_for('movies_search') }}" method="post" id="searchmovieform">
    <h3>Add Movie:</h3>
    <input type="text" name="search" placeholder="- Movie title -">
    <input type="submit" value="Search!">
</form>


{{ render_pagination() }}

<div class="movielist">
{% for movie in movies %}
	{% include 'movie.html' %}
{% endfor %}
</div>

{{ render_pagination() }}

{% endblock %}
